################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/packages
/.vs
/SignalRDatabaseNotification/bin
/SignalRDatabaseNotification/obj
/SignalRDatabaseNotification.Core/bin/Debug
/SignalRDatabaseNotification.Core/obj/Debug
/SignalRDatabaseNotification.Data/bin/Debug
/SignalRDatabaseNotification.Data/obj/Debug
/SignalRDatabaseNotification/packages
/SignalRDatabaseNotification/.vs
/SignalRDatabaseNotification/SignalRDatabaseNotification/bin
/SignalRDatabaseNotification/SignalRDatabaseNotification/obj
*.user
/SignalRDatabaseNotification/SignalRDatabaseNotification.Core/bin/Debug
/SignalRDatabaseNotification/SignalRDatabaseNotification.Core/obj/Debug
/SignalRDatabaseNotification/SignalRDatabaseNotification.Data/bin/Debug
/SignalRDatabaseNotification/SignalRDatabaseNotification.Data/obj/Debug
/SignalRChat/.vs
/SignalRChat/packages
/SignalRChat/SignalRChat/packages
/SignalRDatabaseNotification/SQL/obj/Debug
*.dbmdl
